<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
         xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
         IgnorableNamespaces="uap">
  <Identity Name="com.ashas.aismartcut"
            Publisher="CN=ash.as"
            Version="1.0.0.0" />
  <Properties>
    <DisplayName>AI SmartCut</DisplayName>
    <PublisherDisplayName>ash.as</PublisherDisplayName>
    <Logo>Images\Square150x150Logo.png</Logo>
  </Properties>
  <Resources>
    <Resource Language="en-us"/>
  </Resources>
  <Applications>
    <Application Id="App"
                 Executable="AI.SmartCut.exe"
                 EntryPoint="Windows.FullTrustApplication">
      <uap:VisualElements
        DisplayName="AI SmartCut"
        Description="Background removal tool"
        BackgroundColor="transparent"
        Square44x44Logo="Images\Square44x44Logo.png"
        Square150x150Logo="Images\Square150x150Logo.png"/>
    </Application>
  </Applications>
</Package>
